# --- Python ---
__pycache__/
*.py[cod]
*.egg-info/
*.log

# --- Virtualenv ---
venv/
env/
.venv/

# --- Ambiente e segredos ---
.env
.env.local
*.secret
*.key

# --- Dados e arquivos temporários ---
data/
*.db
*.sqlite
*.csv

# --- IDE / Sistema ---
.DS_Store
.idea/
.vscode/

# --- Docker ---
db_data/
*.pid
.env
