# --- Web e UI ---
streamlit>=1.20.0
matplotlib>=3.8.0
pandas>=2.0.0

# --- Rede e parsing ---
requests>=2.31.0
beautifulsoup4>=4.12.2
tldextract>=4.5.1
dnspython>=2.3.0

# --- Heurísticas e utilitários ---
python-whois>=0.9.6
rapidfuzz>=3.0.0

# --- Banco de dados ---
SQLAlchemy>=2.0.0
psycopg2-binary>=2.9.7

# --- Outros utilitários opcionais ---
python-dateutil>=2.8.2